cycler==0.10.0
decorator==4.4.2
future==0.18.2
imageio==2.8.0
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
nibabel==3.1.0
numpy==1.18.4
opencv-python==4.2.0.34
packaging==20.4
Pillow==7.1.2
pkg-resources==0.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
SimpleITK==1.2.4
six==1.15.0
threadpoolctl==2.0.0
tifffile==2020.5.25
torch==1.5.0
torchvision==0.6.0
pandas==1.0.4
sklearn==0.0